{% extends 'common.html' %}
{% block title %}
  Home
{% endblock title %}
{% block style %}

.h {
    padding: 30px;
    background-color: #93FFE8;
}
.cont{
    margin-top:5%;
    margin-bottom:5%;
    margin-left:10%;
    margin-right:10%;
}
.box {
     color: #ffffff;
     background-color: #666362;
     padding: 20px;
     margin-top: 70px;
     margin-left: 500px;
     margin-right: 500px;

  }
.box2 {
     color: #ffffff;
     background-color: #666362;
     padding: 20px;
     margin-top: 50px;
      margin-left: 500px;
     margin-right: 500px;
     margin-bottom: 100px;


  }
{% endblock style %}

{% block content %}
<div class ="mid">
   <div class="h">
       <center><h1>WELCOME!<br><br>We are waiting for your post</h1></center>
   </div>


        <center> <div class="box">
            <center><h2>Total User<br><br>{{ macs.id }}</h2></center>
         </div>

        <div class="box2">
          <center><h2>Total Posts<br><br>{{ pots }}</h2></center>
        </div>
            </center>

</div>

{% endblock content %}