{% extends 'common.html' %}
{% block title %}
  Edit Post
{% endblock title %}
{% block style %}

  a.up{
    background-color: #006400;
    color: white;
    padding: 14px 20px;
    margin-top:10px;
    border: none;
    cursor: pointer;
    float:right;
  }
  a.de{
    background-color: #FF0000;
    color: white;
    padding: 14px 20px;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
    border: none;
    cursor: pointer;
    float:right;
  }

  a.de:hover,a.up:hover {
    opacity: 0.8;
  }

  .container {
    margin-top:5%;
    margin-bottom:5%;
    margin-left:10%;
    margin-right:10%;

  }

.title{

}
{% endblock style %}


{% block content %}

    <div class="container">

        <center><h1><u>Edit Post</u></h1></center>
        {% for i in posts %}
        <ul style="background-color: #20B2AA">

                <li><h2 class="title">{{ i.tital }}</h2></li>

                 <li style="float:right"> <a class="de" href="{% url 'del' i.id %}">Delete </a> </li>
                 <li style="float:right"> <a class="up"  href="{% url 'up'  i.id %}" > Update </a> </li>

        </ul>
         <hr>
        {% endfor %}

    </div>


{% endblock content %}



